*{
    padding: 0%;
    margin: 0%;
}

.drop-down-nav img{
 height: 20px;
}

body{
    background-color: white;
    font-family: sans-serif;
}


.nav-section-main{
    width: 60%;
    margin: auto auto;
    height: 60px;
    text-indent: 30px;
    font-size: 16px;
    padding-top: 8px;
    font-weight: 400;

}

.backgroundflex{
 color: black;
 background-color: white;
}




